@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y9myx3');
  src:  url('fonts/icomoon.eot?y9myx3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y9myx3') format('truetype'),
    url('fonts/icomoon.woff?y9myx3') format('woff'),
    url('fonts/icomoon.svg?y9myx3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-responsive:before {
  content: "\e903";
}
.icon-smartphone:before {
  content: "\e904";
}
.icon-window:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-sand-clock:before {
  content: "\e907";
}
.icon-bulb:before {
  content: "\e908";
}
.icon-gear:before {
  content: "\e909";
}

