.servis {
  background: url(..//img/bgi-servis.png) no-repeat top center;
  width: 100%;
  opacity: 0.9;
  background-size: 100%; }
  .servis::after {
    background: #ececec;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%; }
  .servis .h {
    margin-top: 160px;
    color: #ffffff; }
    .servis .h h2 {
      color: #ffffff; }
  .servis .service-items {
    text-align: center; }
    .servis .service-items p {
      color: #ffffff; }
    .servis .service-items .item {
      background: url(..//img/polygon.png) no-repeat top center;
      text-align: center;
      width: 285px;
      height: 150px;
      float: left; }
      .servis .service-items .item-2 {
        line-height: 3;
        background: url(..//img/polygon.png) no-repeat top center;
        text-align: center;
        width: 285px;
        height: 150px;
        float: left;
        display: block; }
  .servis .icon-camera, .servis .icon-window, .servis .icon-smartphone, .servis .icon-responsive {
    font-size: 38px;
    line-height: 3.2;
    color: #ffffff; }
