header::before {
  background: none; }

header .image-head {
  background: url(../img/bg_h_1.png) no-repeat top center;
  content: '';
  width: 100%;
  height: 100%; }

section .section-1 {
  background: url(../img/testimonials-bg-icon.png) no-repeat 1000px 60px;
  padding: 100px 0; }

section .section-2 {
  padding: 100px 0;
  background-color: #E9EEF2; }

section .section-3 {
  padding: 100px 0; }

section .section-4 {
  padding: 100px 0;
  background-color: #E9EEF2; }

section .section-form {
  padding: 100px 0; }

section .section-form-forms {
  margin: 20px 0; }
  section .section-form-forms input {
    width: 555px;
    height: 50px;
    border: 1px solid;
    border-color: rgba(124, 123, 125, 0.3);
    padding-left: 20px;
    margin-bottom: 14px; }
    section .section-form-forms input::-webkit-input-placeholder {
      color: #585858;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700; }
  section .section-form-forms textarea {
    width: 555px;
    height: 179px;
    border: 1px solid;
    border-color: rgba(124, 123, 125, 0.3);
    padding: 10px 0 0 30px; }
    section .section-form-forms textarea::-webkit-input-placeholder {
      color: #585858;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700; }

section .button {
  float: left; }

section h3 {
  font-size: 30px; }

section h4 {
  font-size: 15px;
  font-weight: 400; }

section .container-absolute {
  border: 1px solid;
  border-color: rgba(124, 123, 125, 0.3);
  padding: 50px;
  width: 770px;
  height: 240px;
  position: absolute;
  top: 55px;
  right: -13px;
  background-color: #fff; }
  section .container-absolute p {
    font-size: 14px; }
  section .container-absolute h5 {
    margin-top: 25px; }
  section .container-absolute h6 {
    color: #eeaa00; }

@media (min-width: 320px) {
  header {
    height: 250px; }
  section .section-1 {
    background: url(../img/testimonials-bg-icon.png) no-repeat 100px 10px; }
  section .section-1, section .section-2, section .section-3, section .section-4 {
    padding: 30px 0; }
    section .section-1 .caption-top, section .section-2 .caption-top, section .section-3 .caption-top, section .section-4 .caption-top {
      text-align: center; }
    section .section-1 .container-absolute, section .section-2 .container-absolute, section .section-3 .container-absolute, section .section-4 .container-absolute {
      border: 1px solid;
      border-color: rgba(124, 123, 125, 0.3);
      padding: 5px;
      width: 100%;
      height: 250px;
      margin-top: 10px;
      position: relative;
      top: 0;
      right: 0;
      background-color: #fff; }
      section .section-1 .container-absolute p, section .section-2 .container-absolute p, section .section-3 .container-absolute p, section .section-4 .container-absolute p {
        font-size: 12px;
        margin-top: 10px; }
      section .section-1 .container-absolute h5, section .section-2 .container-absolute h5, section .section-3 .container-absolute h5, section .section-4 .container-absolute h5 {
        margin-top: 25px; }
      section .section-1 .container-absolute h6, section .section-2 .container-absolute h6, section .section-3 .container-absolute h6, section .section-4 .container-absolute h6 {
        color: #eeaa00; }
  section .section-form {
    padding: 30px 0;
    text-align: center; }
    section .section-form .section-form-forms {
      margin: 10px 0; }
      section .section-form .section-form-forms input {
        width: 100%;
        height: 25px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding-left: 20px;
        margin-bottom: 7px; }
        section .section-form .section-form-forms input::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
      section .section-form .section-form-forms textarea {
        width: 100%;
        height: 90px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding: 10px 0 0 20px; }
        section .section-form .section-form-forms textarea::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
    section .section-form .button {
      float: none; }
    section .section-form h3 {
      font-size: 30px; }
    section .section-form h4 {
      font-size: 15px;
      font-weight: 400; } }

@media (min-width: 768px) {
  header {
    height: 250px; }
  section .section-1 {
    background: url(../img/testimonials-bg-icon.png) no-repeat 530px 5px; }
  section .section-1, section .section-2, section .section-3, section .section-4 {
    padding: 30px 0; }
    section .section-1 .caption-top, section .section-2 .caption-top, section .section-3 .caption-top, section .section-4 .caption-top {
      text-align: center; }
    section .section-1 .container-absolute, section .section-2 .container-absolute, section .section-3 .container-absolute, section .section-4 .container-absolute {
      border: 1px solid;
      border-color: rgba(124, 123, 125, 0.3);
      padding: 5px;
      padding-left: 20px;
      width: 624px;
      margin: 0 auto;
      height: 170px;
      margin-top: 10px;
      position: relative;
      top: 0;
      right: 0;
      background-color: #fff; }
      section .section-1 .container-absolute p, section .section-2 .container-absolute p, section .section-3 .container-absolute p, section .section-4 .container-absolute p {
        font-size: 12px;
        margin-top: 10px; }
      section .section-1 .container-absolute h5, section .section-2 .container-absolute h5, section .section-3 .container-absolute h5, section .section-4 .container-absolute h5 {
        margin-top: 25px; }
      section .section-1 .container-absolute h6, section .section-2 .container-absolute h6, section .section-3 .container-absolute h6, section .section-4 .container-absolute h6 {
        color: #eeaa00; }
  section .section-form {
    padding: 30px 0; }
    section .section-form .section-form-forms {
      margin: 10px 0; }
      section .section-form .section-form-forms input {
        width: 350px;
        height: 25px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding-left: 20px;
        margin-bottom: 7px; }
        section .section-form .section-form-forms input::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
      section .section-form .section-form-forms textarea {
        width: 350px;
        height: 90px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding: 10px 0 0 20px; }
        section .section-form .section-form-forms textarea::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
    section .section-form .button {
      float: none; }
    section .section-form h3 {
      font-size: 30px; }
    section .section-form h4 {
      font-size: 15px;
      font-weight: 400; }
  .img-responsive {
    margin: 0 auto; } }

@media (min-width: 992px) {
  header {
    height: 373px; }
  section .section-1 {
    background: url(../img/testimonials-bg-icon.png) no-repeat 750px 20px; }
  section .section-1, section .section-2, section .section-3, section .section-4 {
    padding: 100px 0; }
    section .section-1 .caption-top, section .section-2 .caption-top, section .section-3 .caption-top, section .section-4 .caption-top {
      text-align: left; }
    section .section-1 .container-absolute, section .section-2 .container-absolute, section .section-3 .container-absolute, section .section-4 .container-absolute {
      border: 1px solid;
      border-color: rgba(124, 123, 125, 0.3);
      padding: 20px;
      width: 640px;
      height: 220px;
      position: absolute;
      top: 25px;
      right: -13px;
      background-color: #fff; }
      section .section-1 .container-absolute p, section .section-2 .container-absolute p, section .section-3 .container-absolute p, section .section-4 .container-absolute p {
        font-size: 14px; }
      section .section-1 .container-absolute h5, section .section-2 .container-absolute h5, section .section-3 .container-absolute h5, section .section-4 .container-absolute h5 {
        margin-top: 25px; }
      section .section-1 .container-absolute h6, section .section-2 .container-absolute h6, section .section-3 .container-absolute h6, section .section-4 .container-absolute h6 {
        color: #eeaa00; }
  section .section-form {
    padding: 30px 0;
    text-align: left; }
    section .section-form .section-form-forms {
      margin: 10px 0; }
      section .section-form .section-form-forms input {
        width: 450px;
        height: 50px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding-left: 20px;
        margin-bottom: 7px; }
        section .section-form .section-form-forms input::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
      section .section-form .section-form-forms textarea {
        width: 450px;
        height: 165px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding: 10px 0 0 20px; }
        section .section-form .section-form-forms textarea::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
    section .section-form .button {
      float: none; }
    section .section-form h3 {
      font-size: 30px; }
    section .section-form h4 {
      font-size: 15px;
      font-weight: 400; } }

@media (min-width: 1200px) {
  header {
    height: 373px; }
  section .section-1 {
    background: url(../img/testimonials-bg-icon.png) no-repeat 1000px 60px; }
  section .section-1, section .section-2, section .section-3, section .section-4 {
    padding: 100px 0; }
    section .section-1 .container-absolute, section .section-2 .container-absolute, section .section-3 .container-absolute, section .section-4 .container-absolute {
      border: 1px solid;
      border-color: rgba(124, 123, 125, 0.3);
      padding: 50px;
      width: 770px;
      height: 240px;
      position: absolute;
      top: 55px;
      right: -13px;
      background-color: #fff; }
      section .section-1 .container-absolute p, section .section-2 .container-absolute p, section .section-3 .container-absolute p, section .section-4 .container-absolute p {
        font-size: 14px; }
      section .section-1 .container-absolute h5, section .section-2 .container-absolute h5, section .section-3 .container-absolute h5, section .section-4 .container-absolute h5 {
        margin-top: 25px; }
      section .section-1 .container-absolute h6, section .section-2 .container-absolute h6, section .section-3 .container-absolute h6, section .section-4 .container-absolute h6 {
        color: #eeaa00; }
  section .section-form {
    padding: 100px 0; }
    section .section-form .section-form-forms {
      margin: 20px 0; }
      section .section-form .section-form-forms input {
        width: 555px;
        height: 50px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding-left: 20px;
        margin-bottom: 14px; }
        section .section-form .section-form-forms input::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
      section .section-form .section-form-forms textarea {
        width: 555px;
        height: 179px;
        border: 1px solid;
        border-color: rgba(124, 123, 125, 0.3);
        padding: 10px 0 0 30px; }
        section .section-form .section-form-forms textarea::-webkit-input-placeholder {
          color: #585858;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700; }
    section .section-form .button {
      float: left; }
    section .section-form h3 {
      font-size: 30px; }
    section .section-form h4 {
      font-size: 15px;
      font-weight: 400; } }
