:link, :visited {
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img {
  border: none; }

address {
  font-style: normal; }

@media (min-width: 320px) {
  body .navbar {
    height: 359px; }
    body .navbar:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1px;
      border-top: 8vw solid transparent;
      border-right: 50vw solid #ececec;
      border-left: 50vw solid #ececec; }
    body .navbar .hero h1 a img {
      position: absolute;
      top: -50px;
      left: 5px; }
    body .navbar .hero p {
      display: block;
      margin-top: 45px;
      font-size: 30px;
      text-align: center; }
  body .about {
    background-color: #ececec; }
    body .about h2 {
      margin-top: 40px;
      text-align: center; }
    body .about .about-blocks {
      margin: 50px 0; }
      body .about .about-blocks .services, body .about .about-blocks .bulb, body .about .about-blocks .time, body .about .about-blocks .time {
        height: 420px; }
        body .about .about-blocks .services .content, body .about .about-blocks .bulb .content, body .about .about-blocks .time .content, body .about .about-blocks .time .content {
          margin-bottom: 40px; }
          body .about .about-blocks .services .content p, body .about .about-blocks .bulb .content p, body .about .about-blocks .time .content p, body .about .about-blocks .time .content p {
            width: 100%;
            padding-bottom: 30px; }
        body .about .about-blocks .services .hex, body .about .about-blocks .bulb .hex, body .about .about-blocks .time .hex, body .about .about-blocks .time .hex {
          margin-top: 20px; }
      body .about .about-blocks .bulb {
        height: 420px; }
        body .about .about-blocks .bulb .desktop {
          display: none; }
        body .about .about-blocks .bulb .content p {
          width: 100%; }
  body .projects .pro-cont {
    margin-top: 30px; }
    body .projects .pro-cont p {
      padding-top: 20px; }
  body .projects h2 {
    margin-top: 40px; }
  body .servis .service-items .h {
    margin-top: 115px; }
  body .servis .service-items .item {
    margin-top: 15px;
    width: 150px;
    height: 150px; }
    body .servis .service-items .item-2 {
      margin-top: 15px;
      width: 140px;
      height: 150px; } }

@media (min-width: 768px) {
  body .navbar {
    height: 409px; }
    body .navbar:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1px;
      border-top: 8vw solid transparent;
      border-right: 50vw solid #ececec;
      border-left: 50vw solid #ececec; }
    body .navbar .hero {
      text-align: center;
      margin-top: 90px; }
      body .navbar .hero h1 a img {
        position: relative;
        text-align: center;
        top: 0;
        left: 35%; }
      body .navbar .hero p {
        display: block;
        font-size: 44px;
        margin: 0 auto;
        margin-top: 35px;
        text-align: center; }
  body .about {
    background-color: #ececec; }
    body .about h2 {
      margin-top: 40px;
      text-align: center; }
    body .about .about-blocks .services, body .about .about-blocks .bulb, body .about .about-blocks .time, body .about .about-blocks .time, body .about .about-blocks .bulb {
      height: 280px; }
  body .projects .pro-cont {
    margin-top: 70px; }
    body .projects .pro-cont p {
      padding-top: 25px; }
  body .servis {
    height: 517px; }
    body .servis .service-items .h {
      margin-top: 140px; }
    body .servis .service-items .item {
      width: 170px;
      height: 150px; }
      body .servis .service-items .item-2 {
        width: 170px;
        height: 150px;
        margin-top: 50px; } }

@media (min-width: 992px) {
  body .navbar {
    height: 709px; }
    body .navbar:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1px;
      border-top: 18vw solid transparent;
      border-right: 50vw solid #ececec;
      border-left: 50vw solid #ececec; }
    body .navbar .hero {
      margin-top: 210px; }
      body .navbar .hero p {
        width: 870px; }
  body .about {
    background-color: #ececec; }
    body .about h2 {
      margin-top: 80px;
      text-align: center; }
    body .about .about-blocks {
      margin: 80px 0 50px 0; }
      body .about .about-blocks .services, body .about .about-blocks .bulb, body .about .about-blocks .time, body .about .about-blocks .time {
        height: 290px;
        margin-bottom: 0px; }
        body .about .about-blocks .services .content, body .about .about-blocks .bulb .content, body .about .about-blocks .time .content, body .about .about-blocks .time .content {
          margin-bottom: 80px; }
          body .about .about-blocks .services .content p, body .about .about-blocks .bulb .content p, body .about .about-blocks .time .content p, body .about .about-blocks .time .content p {
            padding-bottom: 0px; }
      body .about .about-blocks .bulb {
        height: 310px;
        margin-bottom: 0px; }
        body .about .about-blocks .bulb .desktop {
          display: block; }
          body .about .about-blocks .bulb .desktop .content {
            margin-bottom: 0px; }
        body .about .about-blocks .bulb .services, body .about .about-blocks .bulb .bulb, body .about .about-blocks .bulb .time {
          display: none; }
        body .about .about-blocks .bulb .content {
          margin-top: 80px; }
          body .about .about-blocks .bulb .content p {
            margin-bottom: 0px; }
  body .projects .pro-cont {
    padding-bottom: 100px; }
    body .projects .pro-cont p {
      padding-top: 35px; }
  body .projects h2 {
    margin-top: 80px; }
  body .servis .service-items .h {
    margin-top: 160px; }
  body .servis .service-items .item {
    width: 250px;
    height: 150px;
    margin: 0 0; }
    body .servis .service-items .item-2 {
      width: 200px;
      height: 150px;
      margin-top: 50px; } }

@media (min-width: 1200px) {
  body .navbar {
    height: 709px; }
  body .about {
    background-color: #ececec; }
  body .servis .service-items .item {
    width: 285px;
    height: 150px; }
    body .servis .service-items .item-2 {
      width: 285px;
      height: 150px;
      margin-top: 56px; } }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.navbar-default {
  background-color: #ffffff;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.navbar {
  border: none;
  padding-bottom: 15px; }

.menu {
  margin-top: 21px;
  text-align: center; }

.navbar {
  background: url(..//img/head-bgi.png) no-repeat top center;
  background-size: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  .navbar:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    border-top: 18vw solid transparent;
    border-right: 50vw solid #ececec;
    border-left: 50vw solid #ececec; }
  .navbar .hero {
    text-align: center; }
    .navbar .hero p {
      color: white;
      font-family: 'Lato';
      font-size: 44px;
      font-style: italic;
      line-height: 60px;
      text-transform: uppercase; }

footer {
  text-align: center;
  background-color: #515151; }
  footer p {
    padding: 25px 0;
    color: #cecece;
    font-size: 14px; }

.about {
  background-color: #ececec; }
  .about .h:after {
    border-bottom: 1px solid black; }
  .about .h h2 {
    display: block;
    text-align: center; }
  .about h3 {
    text-transform: uppercase; }
  .about .about-blocks {
    text-align: center; }
    .about .about-blocks .services .hex, .about .about-blocks .bulb .hex, .about .about-blocks .time .hex {
      width: 136px;
      background: #fc0;
      position: relative;
      margin: 0 auto; }
      .about .about-blocks .services .hex:before, .about .about-blocks .bulb .hex:before, .about .about-blocks .time .hex:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 68px solid transparent;
        border-right: 68px solid transparent;
        border-bottom: 50px solid #fc0; }
      .about .about-blocks .services .hex:after, .about .about-blocks .bulb .hex:after, .about .about-blocks .time .hex:after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 68px solid transparent;
        border-right: 68px solid transparent;
        border-top: 50px solid #fc0; }
      .about .about-blocks .services .hex:hover, .about .about-blocks .bulb .hex:hover, .about .about-blocks .time .hex:hover {
        background-color: #009bff; }
        .about .about-blocks .services .hex:hover:before, .about .about-blocks .bulb .hex:hover:before, .about .about-blocks .time .hex:hover:before {
          content: "";
          position: absolute;
          top: -50px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 68px solid transparent;
          border-right: 68px solid transparent;
          border-bottom: 50px solid #009bff; }
        .about .about-blocks .services .hex:hover:after, .about .about-blocks .bulb .hex:hover:after, .about .about-blocks .time .hex:hover:after {
          content: "";
          position: absolute;
          bottom: -50px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 68px solid transparent;
          border-right: 68px solid transparent;
          border-top: 50px solid #009bff; }
        .about .about-blocks .services .hex:hover .icon-gear, .about .about-blocks .bulb .hex:hover .icon-gear, .about .about-blocks .time .hex:hover .icon-gear {
          color: #6e6e6e; }
      .about .about-blocks .services .hex .icon-gear, .about .about-blocks .bulb .hex .icon-gear, .about .about-blocks .time .hex .icon-gear, .about .about-blocks .services .hex .icon-sand-clock, .about .about-blocks .bulb .hex .icon-sand-clock, .about .about-blocks .time .hex .icon-sand-clock {
        font-size: 52px;
        text-align: center;
        color: #ffffff; }
      .about .about-blocks .services .hex .icon-bulb, .about .about-blocks .bulb .hex .icon-bulb, .about .about-blocks .time .hex .icon-bulb {
        font-size: 52px;
        text-align: center;
        color: #ffffff; }
    .about .about-blocks .bulb .hex {
      margin-top: 40px;
      margin-bottom: 20px; }
      .about .about-blocks .bulb .hex:hover .icon-bulb {
        color: #6e6e6e; }
    .about .about-blocks .time .hex:hover .icon-sand-clock {
      color: #6e6e6e; }
    .about .about-blocks .content {
      text-align: center; }
      .about .about-blocks .content p {
        width: 300px;
        line-height: 2;
        margin: 0 auto; }

.line {
  border-bottom: 2px solid #d1d1d1;
  width: 100px;
  margin: 0 auto;
  margin-top: 15px; }

section .approch {
  background-color: #f3f3f3; }
  section .approch .img-responsive {
    display: block;
    max-width: 100%;
    height: auto; }
  section .approch .cont-header {
    text-align: center; }
  section .approch h2 {
    margin-top: 50px; }
  section .approch .line {
    display: block;
    margin: 0 auto;
    margin-top: 15px; }
  section .approch p {
    display: block; }
  section .approch .steps {
    margin-top: 45px;
    background-color: #ffffff;
    height: 240px; }
    section .approch .steps .step {
      border: 2px solid #fff;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-color: #de2b24;
      width: 105px;
      height: 105px;
      text-align: center; }
      section .approch .steps .step span {
        font-size: 50px;
        color: #ffffff;
        font-family: "Georgia";
        text-align: center;
        overflow: hidden; }
      section .approch .steps .step p {
        margin: 0 auto;
        color: #ffffff;
        font-family: "Georgia";
        font-size: 20px;
        overflow: hidden; }
    section .approch .steps h4 {
      padding-top: 72px; }
    section .approch .steps p {
      padding-bottom: 77px; }
    section .approch .steps img {
      float: left; }
    section .approch .steps .app-cont p {
      line-height: 2; }
  section .approch .steps-2 {
    margin-top: 45px;
    background-color: #ffffff;
    height: 240px; }
    section .approch .steps-2 .step {
      border: 2px solid #fff;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-color: #de2b24;
      width: 105px;
      height: 105px;
      text-align: center; }
      section .approch .steps-2 .step span {
        font-size: 50px;
        color: #ffffff;
        font-family: "Georgia";
        text-align: center;
        overflow: hidden; }
      section .approch .steps-2 .step p {
        color: #ffffff;
        font-family: "Georgia";
        font-size: 20px;
        overflow: hidden; }
    section .approch .steps-2 h4 {
      padding-top: 72px; }
    section .approch .steps-2 img {
      float: right; }
    section .approch .steps-2 .app-cont p {
      line-height: 2; }

.blog {
  background-color: #ececec; }
  .blog #masonry .blog-item {
    background-color: #ffffff;
    width: 270px;
    float: left;
    margin-left: 10px;
    margin-top: 30px; }
  .blog .commends {
    width: 225px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 18px; }
  .blog .content-blog {
    margin: 0 auto;
    width: 225px;
    padding: 40px 0 22px 0; }
  .blog .line-2 {
    border-bottom: 1px solid  #d9d9d9; }

.grid.effect-4 {
  -webkit-perspective: 1300px;
          perspective: 1300px; }
  .grid.effect-4 li {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .grid.effect-4 li.animate {
      -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
              transform: translateZ(400px) translateY(300px) rotateX(-90deg);
      -webkit-animation: fallPerspective .8s ease-in-out forwards;
              animation: fallPerspective .8s ease-in-out forwards; }

@-webkit-keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
            transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1; } }

@keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
            transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1; } }

.servis {
  background: url(..//img/bgi-servis.png) no-repeat top center;
  width: 100%;
  opacity: 0.9;
  background-size: 100%; }
  .servis::after {
    background: #ececec;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%; }
  .servis .h {
    margin-top: 160px;
    color: #ffffff; }
    .servis .h h2 {
      color: #ffffff; }
  .servis .service-items {
    text-align: center; }
    .servis .service-items p {
      color: #ffffff; }
    .servis .service-items .item {
      background: url(..//img/polygon.png) no-repeat top center;
      text-align: center;
      width: 285px;
      height: 150px;
      float: left; }
      .servis .service-items .item-2 {
        line-height: 3;
        background: url(..//img/polygon.png) no-repeat top center;
        text-align: center;
        width: 285px;
        height: 150px;
        float: left;
        display: block; }
  .servis .icon-camera, .servis .icon-window, .servis .icon-smartphone, .servis .icon-responsive {
    font-size: 38px;
    line-height: 3.2;
    color: #ffffff; }

.projects .pro-cont .button {
  border: 1px solid #009aff;
  position: relative;
  width: 96px;
  height: 27px;
  background-color: #009aff;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  margin-top: 30px; }
  .projects .pro-cont .button::before {
    content: '';
    position: absolute;
    right: -26px;
    top: -2px;
    border: 14px solid transparent;
    border-left: 11px solid #009aff; }
  .projects .pro-cont .button a {
    text-decoration: none;
    color: #ffffff; }
    .projects .pro-cont .button a:hover {
      color: #fc0; }

.projects img {
  margin: 0 auto;
  margin-top: 20px; }

@media (min-width: 320px) {
  .menu-btn {
    float: right;
    margin-top: 10px; }
  .pushy-open-right .pushy {
    background: #6e6e6e; }
    .pushy-open-right .pushy a {
      color: #fff;
      font-size: 18px; }
  .menu-btn {
    color: #fc0;
    font-size: 30px; }
  .main-nav {
    background: transparent;
    height: 60px;
    z-index: 170;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; } }

@media (min-width: 768px) {
  .menu-btn {
    display: none; }
  .pushy-open-right .pushy {
    background: transparent; }
  .pushy {
    display: block; }
    .pushy li {
      display: inline-block;
      padding: 0 20px;
      min-width: 84px; }
      .pushy li a {
        min-width: 84px;
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 18px;
        font-family: 'Lato'; }
        .pushy li a:active, .pushy li a:hover {
          position: relative;
          background: #ffcc00; }
          .pushy li a:active:after, .pushy li a:hover:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding-bottom: 20px;
            background: #ffcc00;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                    clip-path: polygon(0% 0%, 100% 0%, 50% 100%); }
          .pushy li a:active:before, .pushy li a:hover:before {
            content: '';
            position: absolute;
            width: 100%;
            top: -10px;
            left: 0;
            border-bottom: 10px solid #ffcc00; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

p {
  font: "Lato", sans-serif;
  color: #6e6e6e;
  font-size: 16px;
  line-height: 2; }

h2 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center; }

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

h4 {
  font-size: 18px;
  font-weight: 400;
  color: #6e6e6e; }

h5 {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff; }

.image {
  position: relative; }

.desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 265px;
  height: 100%;
  color: #ffffff;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5); }
  .desc h5 {
    margin-top: 25px; }
  .desc p, .desc h5 {
    display: none; }
  .desc .fa {
    font-size: 0; }
  .desc:hover {
    background-color: rgba(255, 89, 89, 0.5);
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .desc:hover h5 {
      display: block; }
    .desc:hover p {
      display: block;
      color: #ffffff;
      font-size: 16px; }
    .desc:hover .fa {
      font-size: 36px;
      font-weight: 400;
      opacity: 0.5; }

.cont-header {
  text-align: center; }

.trienge {
  position: relative;
  border-top: 8vw solid transparent;
  border-right: 50vw solid #fff;
  border-left: 50vw solid #fff; }
